# Ignore data files in the repository
*.pkl
*.geojson
*.atx
*.cpg
*.CPG
*.dbf
*.prj
*.README.html
*.sbn
*.sbx
*.shp
*.shx
*.sas7bdat
*.txt
*.TXT
*.VERSION.txt
*.xml
*.zip

# Ignore Python bytecode files and other common build artifacts
*.pyc
MANIFEST
build/*
dist/*
*.cache/
.coverage
.coveragerc
htmlcov/*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pdfsync
*.synctex.gz
*.toc
*.swp
*.asv
*.nav
*.snm
*.gz
*.bib.bak
*.fls
*.m~
*.sublime*
*.DS_Store*
envs/
*.egg-info/
*.ipynb_checkpoints*
*/__pycache__/*
*/~$*
